<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<parameter name="abc" value="anumeha"></parameter>


  <test thread-count="5" name="Test"> 
  
  <classes>
      <class name="pomProject.TestCase001">  </class>
       <class name="project.TCLogin_001">  </class>
     
        
     
    
    </classes>>
  
  
   </test> <!-- Test -->

</suite> <!-- Suite -->
